bar-chart {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

pie-chart {
  position: relative;
  width: 800px;
  height: 400px;
}

.legend text{ 
  fill: #C8C8C8;
}

.chart-tooltip {
  position: absolute;
  top: -215px;
  left: 95px;
}

.chart-tooltip .data-percent {
  margin-right: 10px;
}

bar-chart svg{
  width: 100%
}

bar-chart svg text {
  fill: white;
  font: 10px sans-serif;
}