bar-chart {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.legend {
  text-color: white;
}

bar-chart svg{
  width: 100%
}

bar-chart svg text {
  fill: white;
  font: 10px sans-serif;
}